.button {
    -fx-background-color: #1E1E1E;
    -fx-text-fill: #E0E0E0;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 8px 16px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: #292929;
    -fx-cursor: hand;
    -fx-transition: all 0.2s ease-in-out;
}


.button:hover {
    -fx-background-color: #292929;
}

.button:pressed {
    -fx-background-color: #121212;
    -fx-scale-x: 0.97;
    -fx-scale-y: 0.97;
}

.button:disabled {
    -fx-background-color: #333;
    -fx-text-fill: #777;
    -fx-border-color: #444;
}
.combo-box {
    -fx-background-color: #1E1E1E;
    -fx-text-fill: #E0E0E0;
    -fx-border-color: #292929;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}

.combo-box .list-cell {
    -fx-background-color: #1E1E1E;
    -fx-text-fill: #E0E0E0;
}

.combo-box .list-cell:hover {
    -fx-background-color: #1E1E1E;
}

.combo-box .list-cell:selected {
    -fx-background-color: #292929;
    -fx-text-fill: #E0E0E0;
}
