/* Estilo para TableView */
.table-view {
    -fx-background-color: #1e1e1e;
    -fx-border-color: #333;
    -fx-border-width: 1px;
    -fx-text-fill: #ffffff;
}

/* Estilo para las columnas de la tabla */
.table-column {
    -fx-alignment: CENTER;
}

/* Estilo para el encabezado de la tabla */
.table-view .column-header-background {
    -fx-background-color: #2b2b2b;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

/* Estilo para las filas de la tabla */
.table-row-cell {
    -fx-background-color: #252525;
    -fx-text-fill: #ffffff;
}

.table-row-cell:odd {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: #ffffff;
}

.table-row-cell:selected {
    -fx-background-color: #3a3a3a;
    -fx-text-fill: #ffffff;
}

.table-cell {
    -fx-text-fill: #ffffff;
}

/* Estilo para el scrollbar */
.scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-background-color: #2b2b2b;
}

.scroll-bar .thumb {
    -fx-background-color: #444;
}
